In [ ]:
import sqlalchemy

In [ ]:
sqlalchemy.create_engine('mysql+pymysql://root:password@localhost:3306/')

In [ ]:
%load_ext sql

In [ ]:
%sql mysql+pymysql://root:admin@localhost:3306/practice

In [ ]:
%%sql 
show tables

In [ ]:
%%sql 
create table test
(EMP_ID serial not null primary key,
EMP_NAME varchar(20) );

In [ ]:
%%sql 
alter table test add
EMP_ZIP char(6);

In [ ]:
%%sql
alter table test modify
EMP_ZIP varchar(6);

In [ ]:
%%sql
insert into test (EMP_NAME,EMP_ZIP)
values ('baolong2','l5c3z5');

In [ ]:
%%sql
select * from test;

In [ ]:
%%sql
select EMP_ID, EMP_NAME, EMP_ZIP 
from test
where EMP_ID > 1
group by EMP_NAME
order by EMP_ID
;

In [ ]:
%%sql
select EMP_ID+5, EMP_NAME, EMP_ZIP 
from test
where EMP_ZIP in ('l5c3z5')
group by EMP_NAME
order by EMP_ID
;

In [ ]:
%%sql
select EMP_ID+5, EMP_NAME, EMP_ZIP 
from test
where EMP_ZIP in ('l5c3z5') and EMP_ZIP like '%l%'
group by EMP_NAME
order by EMP_ID
;

In [ ]:
%%sql
select EMP_ID, concat(EMP_NAME,'Wu') Name, EMP_ZIP 
from test
where EMP_ZIP in ('l5c3z5')
group by EMP_NAME
order by EMP_ID
;

In [ ]:
%%sql
select A.EMP_ID, B.EMP_NAME, B.EMP_ZIP 
from test A, test B
where A.EMP_ID= B.EMP_ID
group by EMP_NAME
order by EMP_ID
;

In [ ]:
%%sql
select A.EMP_ID, B.EMP_NAME, B.EMP_ZIP 
from test A left outer join test B
on A.EMP_ID= B.EMP_ID
group by EMP_NAME
order by EMP_ID
;

In [ ]:
%%sql
update test
    set EMP_NAME='Baolong Wu'
    Where EMP_ID= 
                (select max(EMP_ID) 
                 from test
                 where EMP_ZIP='l5c3z5');

In [ ]:
%%sql
update test
    set EMP_NAME='Baolong Wu'
    Where EMP_ID= 
                (select max(EMP_ID) 
                 from test
                 where EMP_ZIP='l5c3z5');